<main class="container-fluid">
  <div style="text-align: center; background-color: aqua">
    <h1>Welcome to {{ title }}!</h1>
    <ul class="links">
      <li>
        <a
          [routerLink]="['/aboutAs']"
          [queryParams]="{ name: 'Test', email: 'test@test.com' }"
        >
          About
        </a>
      </li>
      <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li><a [routerLink]="['/profile']">Profile</a></li>
      <li><a [routerLink]="['/myAccount']">My Account</a></li>
      <li><a [routerLink]="['/users/profile', idUser]">Users</a></li>
    </ul>
  </div>
  <div class="form-group col-md-6 offset-3">
    <label for="changeLanguage"> Select a language</label>
    <select
      class="custom-select"
      id="changeLanguage"
      [(ngModel)]="language"
      (change)="changeLanguage()"
    >
      <option [value]="item.value" *ngFor="let item of languages">
        {{ item.key }}
      </option>
    </select>
  </div>
</main>
<router-outlet />
