/* You can add global styles to this file, and also import other style files */

@use 'bootstrap/scss/bootstrap';

.app-navbar {
  --bs-navbar-color: var(--bs-body-color);
  --bs-navbar-hover-color: var(--bs-link-color);
  --bs-navbar-brand-color: var(--bs-body-color);
  --bs-navbar-brand-hover-color: var(--bs-body-color);
  min-height: 3.75rem;
  background-color: var(--bs-body-bg);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--bs-border-color);
}

.theme-toggle {
  display: inline-flex;
  color: var(--bs-body-color);
}
